<h1><a href="/">DevCafe</a></h1>
<ul>
  {{#if isAdmin}}
  <li><a href="/admin">관리자 모드</a></li>
  {{/if}}

  {{#if user }}
  <li><a href="/signout">로그아웃</a></li>
  {{else}}
  <li><a href="/signup">회원가입</a></li>
  <li><a href="/signin">로그인</a></li>
  {{/if}}
</ul>
<div>
  <h1>{{message}}</h1>
  <h2>{{errcode}}</h2>
  <h2>{{error.status}}</h2>
  <pre>{{error.stack}}</pre>
</div>